*{
    margin:0px;
    padding:0px;
    font-family:Nunito;

}

#navbar{
    height:5vh;
    width:100%;
    top:0px;
    position:fixed;
    z-index:1;

    
}
a{
    color:#3e3d53;
}
h1{
    font-size:2em;
}  
  
#navbar ul{
    position:relative;
    width:30%;
    height:inherit;
    float:right;
    display:flex;
    max-width:100%;

}

body{
    background-image: linear-gradient(72deg,#3e3d53,#d5d8d7,#696880);
    background-repeat:no-repeat;
    background-size: cover;
    width:100%;

}
#navbar ul a{
    margin:2%;
    text-decoration:none;
    font-weight:bold;
}
#navbar ul li{
    list-style-type: none;      
}

#home{
    height:100vh;
    display:flex;
    align-items:center;
    justify-content:center;
}
#title_div{
    width:fit-content;
}
#heading{
    text-align:center;
    padding:30px;
}


.executives{
     display:flex;
     width:90%;
     height:80%;
     margin:auto;
     justify-content: center;
}
#descriptions h2{
    width:220px;
}

.executives div{
    width:50%;
    
}
.executives div img{
    width:220px;
    height:220px;
}


#projects div{
    width:90%;
    margin:0 auto;
}


#video-div iframe{
    width:100%;
    height:50vh;
    margin:0 auto;
}

#row_2 div img{
    width:31%;
    height:30vh;
    max-width:100%;
    
}
@media(max-width:500px){
    #navbar{
    background-color:#696880;  
    width:100vw;     
    }
    #navbar ul{
        position:relative;
        float:left;
        width:80%;
    }
    #section{
        width:100vw;}
    #title_div{
        width:90%;
        text-align:center;
    }
    #img-div{
        display:flex;
        flex-direction:column;
    }
    #row_2 div img{
        width:100%;
        margin:10px 0px;
    }
    .executives{
        display:flex;
        flex-direction:column;
        
    }
    .executives div{
        width:100%;
        text-align:center;        
    }
    .tutors{
        display:flex;
        flex-direction:column;
        
    }
    .tutors div{
        width:100%;
        text-align:center; 
    }
}
.tutors{
     display:flex;
     width:90%;
     height:80%;
     margin:auto;
     justify-content: center;
     
}

.tutors div{
    width:30%;
}

.tutors div img{
    width:220px;
    height:220px;
}
#contact{
    height:100vh;

}
#contact_heading{
    height:50%;
    display:flex;
    align-items:center;
    justify-content:center;
}
#contact_img{
    display:flex;
    width:fit-content;
    margin:0 auto;
}
#contact_img div{
  margin:10px;
}


#contact_img div img{
    width:70px;
    height:75px;  
}
